/* 样式重置 */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select{margin: 0;padding: 0}
em{font-style:normal} /*倾斜字体扶正*/
li{list-style: none} /*去掉点*/
a{text-decoration: none} /*去掉下划线*/
img{border: none;vertical-align: top}
table{border-collapse: collapse}
input textarea{outline: none}
textarea{resize: none;overflow: auto}
body{font-size: 12px;font-family: "微软雅黑"}

/* public 公共样式*/
.fl{float:left}
.fr{float:right}
.clear{zoom:1}
.clear:after{content:'';display:block;clear:both;}
.gradient{ /*渐变*/
    background:-webkit-linear-gradient(top,#ffffff,#F8F8F8);
    background:-moz-linear-gradient(top,#ffffff,#f8f8f8);
    background:-ms-linear-gradient(top,#ffffff,#f8f8f8);
    background:linear-gradient(top,#ffffff,#f8f8f8);
    filter:"progid:DXImageTransform.Microsoft.gradient(GradienType=0,startColorstr=#ffffff,endColorstr=#f8f8f8)";
    background:#f9f9f9;
}

/* layout */
#header, #nav, .content{width:960px;margin:0 auto}
#search, .section, .side_section, .ad_border, #footer{border: 1px solid #dbdbdb;border-radius:6px}
.section, .options, .main_ad, .side_section, .side_ad, ad_border{margin-bottom:10px;}

body {margin-bottom: 30px;}
#header {height: 30px;border-radius: 0 0 6px 6px;}
#nav {height: 100px;background: #fcc}
#search {width: 958px;height:114px;margin: 0 auto 10px;}
.main {width: 710px;}
.section {width: 318px;padding: 0 15px;height:200px;}
.options {width:350px;height: 200px;background: #FF9;}
.main_ad {border-radius: 6px;overflow: hidden}
.side {width: 240px;}
.side_section {height: 60px;padding: 0 12px}
.side_ad {border-radius:6px;overflow: hidden}
.ad_border {width: 238px;height: 88px;overflow: hidden;}
#footer {width: 958px;height: 78px;background: #f9f9f9;margin: 0 auto;}
